<!DOCTYPE html>
<html layout:decorate="~{layoutLocadora}">
<head>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{locacao.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/locacoes/listarLocadora}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{locacao.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="~{fragments/alert}"></div>

			<form th:action="@{/locacoes/salvarLocadora}" th:object="${locacao}"
				method="POST">

				<div th:replace="~{fragments/validacao :: validacao}"></div>

				<div class="form-column">

					<div class="form-group">
						<label th:text="#{locacao.cliente.label}" for="cliente"></label> 
						<select id="cliente" class="form-control" th:field="*{cliente}"
							th:classappend="${#fields.hasErrors('cliente')} ? is-invalid">
							<option value="" th:text="#{select.label}"></option>
							<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
								th:text="${cliente.nome}"></option>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{cliente}"></span>
						</div>
					</div>
	
					<div class="form-group ">
						<label th:text="#{locacao.locadora.cnpj.label}" for="cnpj"></label> 
						<input type="text" class="form-control" id="cnpj" placeholder="__.___.___/____-__"
						autofocus="autofocus" data-mask="00.000.000/0000-00"/>
					</div>

					<div class="form-group ">
						<label th:text="#{locacao.data.label}" for="data"></label> 
						<input type="datetime-local" class="form-control" id="data" placeholder="Data da locação"
							autofocus="autofocus" th:field="*{data}"
							th:classappend="${#fields.hasErrors('data')} ? is-invalid" />
	
						<div class="invalid-feedback">
							<span th:errors="*{data}"></span>
						</div>
					</div>
				</div>

				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>