<!DOCTYPE html>
<html layout:decorate="~{layoutAdmin}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{locadora.listar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/admins/listarLocadora}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{locadora.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="~{fragments/alert}"></div>

			<form
				th:action="${locadora.id == null} ? @{/admins/salvarLocadora} : @{/admins/editarLocadora}"
				th:object="${locadora}" method="POST">
				
				<div class="form-column">
					<div class="form-group ">
						<label th:text="#{locadora.email.label}" for="email"></label> 
						<input type="email" class="form-control" id="email" placeholder="Email"
							autofocus="autofocus" th:field="*{email}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>

					<div class="form-group ">
						<label th:text="#{locadora.senha.label}" for="senha"></label> 
						<input type="password" class="form-control" id="senha" placeholder="Senha"
							autofocus="autofocus" th:field="*{senha}"
							th:classappend="${#fields.hasErrors('senha')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{senha}"></span>
						</div>
					</div>

					<div class="form-group ">
						<label th:text="#{locadora.cnpj.label}" for="CNPJ"></label> 
						<input type="text" class="form-control" id="CNPJ" placeholder="__.___.___/____-__"
							autofocus="autofocus" th:field="*{CNPJ}"
							th:classappend="${#fields.hasErrors('CNPJ')} ? is-invalid" 
							data-mask="00.000.000/0000-00"/>
						                               
						<div class="invalid-feedback">
							<span th:errors="*{CNPJ}"></span>
						</div>
					</div>

					<div class="form-group ">
						<label th:text="#{locadora.nome.label}" for="nome"></label> 
						<input type="text" class="form-control" id="nome" placeholder="Nome"
							autofocus="autofocus" th:field="*{nome}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />
	
						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>
	
					<div class="form-group ">
						<label th:text="#{locadora.cidade.label}" for="cidade"></label> 
						<input type="text" class="form-control" id="cidade" placeholder="Cidade"
							autofocus="autofocus" th:field="*{cidade}"
							th:classappend="${#fields.hasErrors('cidade')} ? is-invalid" />
	
						<div class="invalid-feedback">
							<span th:errors="*{cidade}"></span>
						</div>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}" class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>